<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head'); %>
</head>

<body class="container">
<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <h4 class="page-title">Edit Career</h4>
  <div class="container3">
    <form name="careerForm" method="POST" onsubmit="return validateForm()">
      <input type="text" id="userid" name="userid" value="sunny" hidden>
      <input type="text" id="jobid" name="jobid" value="<%=jobInfo.jobid %>" hidden>
      <div class="form-group">
        <label for="mainRole">Main Role Title</label>
        <select name="mainRole" id="mainRole" class="select-role">
          <option value="0">-- SELECT --</option>
          <% rolelist.forEach(function(role) { %>
            <% if(role.roleid == jobInfo.roleid) { %>
              <option value="<%=role.roleid %>" selected><%=role.rolename %></option>
            <% } else { %>
              <option value="<%=role.roleid %>"><%=role.rolename %></option>
            <% } %>
          <% }); %>
        </select>
      </div>
      <div class="form-group">
        <label>Employment Type</label>
        <% var empSet = ["Full-time", "Part-time", "Freelance", "Internship", "Other"]; %>

        <% for(var i=0; i< empSet.length ; i++) { %>
          <% if(i+1 == jobInfo.employmenttype) { %>
            <input type="radio" id="<%=empSet[i] %>" name="emptype" value="<%=i+1 %>"  class="input-radio" checked>
          <% } else { %>
            <input type="radio" id="<%=empSet[i] %>" name="emptype" value="<%=i+1 %>" class="input-radio">
          <% } %>
          <label for="<%=empSet[i] %>" class="label-radio"><%=empSet[i] %></label>
        <% } %>
      </div>
      <div class="form-group">
        <label for="companyname">Company Name</label>
        <input type="text" id="companyname" name="companyname" value="<%=jobInfo.companyname %>">
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" id="country" name="country" value="<%=jobInfo.country %>">
      </div>
      <div class="form-group">
        <label id='workDate'>Work Date</label>
        <select name="startMonth" id="startMonth" aria-labelledby='workDate'>
          <option value="month">--Month--</option>
          <% for (var i =1; i <=12;  i++ ) { %>
            <% if(i == jobInfo.startmonth) { %>
              <option value="<%=i %>" selected><%=i %></option>
            <% } else { %>
              <option value="<%=i %>"><%=i %></option>
            <% } %>
          <% } %>
        </select>
        <select name="startYear" id="startYear" aria-labelledby='workDate'>
          <option value="year">--Year--</option>
          <% for (var i =2022; i >= 1970;  i-- ) { %>
            <% if(i == jobInfo.startyear) { %>
              <option value="<%=i %>" selected><%=i %></option>
            <% } else { %>
              <option value="<%=i %>"><%=i %></option>
            <% } %>
          <% } %>
        </select>
        -
        <select name="endMonth" id="endMonth" aria-labelledby='workDate'>
          <option value="month">--Month--</option>
          <% for (var i =1; i <=12;  i++ ) { %>
            <% if(i == jobInfo.endmonth) { %>
              <option value="<%=i %>" selected><%=i %></option>
            <% } else { %>
              <option value="<%=i %>"><%=i %></option>
            <% } %>
          <% } %>
        </select>
        <select name="endYear" id="endYear" aria-labelledby='workDate'>
          <option value="year">--Year--</option>
          <% for (var i =2022; i >= 1970;  i-- ) { %>
            <% if(i == jobInfo.endyear) { %>
              <option value="<%=i %>" selected><%=i %></option>
            <% } else { %>
              <option value="<%=i %>"><%=i %></option>
            <% } %>
          <% } %>
        </select>
        <% if(typeof jobInfo.endyear == "number") { %>
          <input type="checkbox" id="notFinish" name="notFinish" onclick="checkNotFinish()" class="input-checkbox">
        <% } else {%>
          <input type="checkbox" id="notFinish" name="notFinish" onclick="checkNotFinish()" class="input-checkbox" checked>
        <% } %>
        <label for="notFinish" class="label-checkbox">currently working in this role</label>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" value="<%=jobInfo.description %>"><%=jobInfo.description %></textarea>
      </div>
      <div class="form-group">
        <label for="detail1">Detail 1</label>
        <textarea id="detail1" name="detail1" value="<%=jobInfo.detail1 %>"><%=jobInfo.detail1 %></textarea>
      </div>
      <div class="form-group">
        <label for="detail2">Detail 2</label>
        <textarea id="detail2" name="detail2" value="<%=jobInfo.detail2 %>"><%=jobInfo.detail2 %></textarea>
      </div>
      <div class="form-group">
        <label for="detail3">Detail 3</label>
        <textarea id="detail3" name="detail3" value="<%=jobInfo.detail3 %>"><%=jobInfo.detail3 %></textarea>
      </div>
      <div class="form-group">
        <label for="skills">Skills <h5>(use ',' if multiple)</h5></label>
        <textarea id="skills" name="skills" value="<%=jobInfo.skills %>"><%=jobInfo.skills %></textarea>
      </div>
      <div class="form-group">
        <label id='subRole' style="float:left;">Sub Role Title</label>
        <div>
          <% var j=0; %>
          <% if(subrolelist.length > 0) { %>
            <% subrolelist.forEach(function(subrole) { %>
              <% j++; %>
              <select name="subRole<%=j %>" id="subRole<%=j %>" aria-labelledby='subRole' class="select-role">
                <option value="0">-- SELECT (optional) --</option>
                <% rolelist.forEach(function(role) { %>
                  <% if(role.roleid == subrolelist[j-1].roleid) { %>
                    <option value="<%=role.roleid %>" selected><%=role.rolename %></option>
                  <% } else { %>
                    <option value="<%=role.roleid %>"><%=role.rolename %></option>
                  <% } %>
                <% }); %>
              </select>
            <% }); %>
          <% } %>
          <% if(j < 3) { %>
            <% for(var k=j; k<3; k++) { %>
              <% j++; %>
              <select name="subRole<%=j %>" id="subRole<%=j %>" aria-labelledby='subRole' class="select-role">
                <option value="0">-- SELECT (optional) --</option>
                <% rolelist.forEach(function(role) { %>
                  <option value="<%=role.roleid %>"><%=role.rolename %></option>
                <% }); %>
              </select>
            <% } %>
          <% } %>
        </div>
      </div>
      <div class="button-group">
        <button type="submit" id="btnsave" class="btn btn-primary">Save</button>
        <button type="reset" onclick="history.go(-1)" id="btncancel" class="btn btn-primary">Cancel</button>
      </div>
    </form>
  </div>
</main>

<script>
function checkNotFinish() {
  var isContinue = document.getElementById("notFinish").checked;
  if(isContinue) {
    document.getElementById("endMonth").disabled = true;
    document.getElementById("endYear").disabled = true;
  } else {
    document.getElementById("endMonth").disabled = false;
    document.getElementById("endYear").disabled = false;
  }
}

function validateForm() {
  var eYear = document.getElementById("endYear").value;
  var eMonth = document.getElementById("endMonth").value;
  var sYear = document.getElementById("startYear").value;
  var sMonth = document.getElementById("startMonth").value;
  var isContinue = document.getElementById("notFinish").checked;

  if(sYear == "year" || sMonth == "month") {
    alert("Please select the correct start date.");
    return false;
  }

  if(!isContinue) {
    if(eYear == "year" || eMonth == "month") {
      alert("Please select the correct end date.");
      return false;
    }

    if(eYear < sYear) {
      alert("End year must be later than start year.");
      return false;
    } else {
      if (eYear == sYear && eMonth < sMonth) {
          alert("End month must be later than start month.");
          return false;
      }
    }
  }
}
</script>

<footer>
  <%- include('./partials/footer'); %>
</footer>
</body>

</html>
