<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h2>Add Certification</h2>
    <div class="container3">
      <form method="POST">
        <input type="text" id="userid" name="userid" value="sunny" hidden>
        <input type="text" id="certificationid" name="certificationid" value="<%=certificationInfo.certificationid %>" hidden>
        <div class="form-group">
          <label for="certification">Certification Name</label>
          <input type="text" id="certification" name="certification" value="<%=certificationInfo.certificationname %>">
        </div>
        <div class="form-group">
          <label for="organization">Issued Organization</label>
          <input type="text" id="organization" name="organization" value="<%=certificationInfo.organization %>">
        </div>
        <div class="form-group">
          <label id='issuedDate'>Issued Date</label>
          <select name="issueMonth" id="issueMonth" aria-labelledby='issuedDate'>
            <option value="month">--Month--</option>
            <% for (var i =1; i <=12;  i++ ) { %>
              <% if(i == certificationInfo.issuemonth) { %>
                <option value="<%=i %>" selected><%=i %></option>
              <% } else { %>
                <option value="<%=i %>"><%=i %></option>
              <% } %>
            <% } %>
          </select>
          <select name="issueYear" id="issueYear" aria-labelledby='issuedDate'>
            <option value="year">--Year--</option>
            <% for (var i =2022; i >= 1995;  i-- ) { %>
              <% if(i == certificationInfo.issueyear) { %>
                <option value="<%=i %>" selected><%=i %></option>
              <% } else { %>
                <option value="<%=i %>"><%=i %></option>
              <% } %>
              <%#  will output the numbers 2022-1995 %>
            <% } %>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" name="description" value="<%=certificationInfo.description %>">
        </div>
        <div class="button-group">
          <button type="submit" id="btnsave" class="btn btn-primary">Save</button>
          <button type="reset" onclick="history.go(-1)" id="btncancel" class="btn btn-primary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</main>
</body>
</html>
