<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <h4 class="page-title">Map Role to Career</h4>
  <div class="container3">
    <form name="mapForm" method="POST">
      <input type="text" id="userid" name="userid" value="sunny" hidden>
      <div>
        <label for="role">Role Title</label>
        <select name="role" id="role" onChange="checkRole()" class="select-role">
          <option value="0">-- SELECT --</option>
          <% rolelist.forEach(function(role) { %>
            <option value="<%=role.roleid %>"><%=role.rolename %></option>
          <% }); %>
        </select>
      </div>
      <hr>
      <h4><i>Choose Careers to map</i></h4><br>
      <fieldset>
          <% joblist.forEach(function(job) { %>
            <div class="checkbox-group">
              <div class="checkbox-item">
                <input type="checkbox" name="jobrole" id="<%=job.jobid %>" value="<%=job.jobid %>" class="input-checkbox">
              </div>
              <div class="checkbox-group-body">
                <h3 class="career-title">
                  <%=job.rolename %>, <%=job.companyname %> in <%=job.country %> (<%=job.startyear %>.<%=job.startmonth %> -
                  <% if(typeof job.endyear == "number") { %>
                    <%=job.endyear %>.<%=job.endmonth %>)
                  <% } else { %>
                    present)
                  <% } %>
                </h3>
                <h4 class="career-desc">■ <%=job.description %></h4>
                <p class="career-detail">
                  ▪ <%=job.detail1 %><br>
                  ▪ Skills: <%=job.skills %><br>
                  ▪ Sub Roles:
                  <% jobrolelist.forEach(function(jobrole) { %>
                    <% if(job.jobid == jobrole.jobid && jobrole.ismain == 0) { %>
                      [<%=jobrole.rolename %>]
                    <% } %>
                  <% }); %>
                </p>
                <p></p>
              </div>
            </div>
          <% }); %>
      </fieldset>
      <div class="button-group">
        <button type="submit" id="btnsave" class="btn btn-primary">Save</button>
        <button type="reset" onclick="history.go(-1)" id="btncancel" class="btn btn-primary">Cancel</button>
      </div>
    </form>

  </div>
</main>

  <script>
  function checkRole() {
    var selectRole = document.getElementById("role").value;

    <% joblist.forEach(function(job) { %>
      document.getElementById("<%=job.jobid %>").checked = false;
    <% }); %>

    <% jobrolelist.forEach(function(jobrole) { %>
      if(selectRole == "<%=jobrole.roleid %>") {
        document.getElementById("<%=jobrole.jobid %>").checked = true;
      }
    <% }); %>
  }

  function validateForm() {
    var eYear = document.getElementById("endYear").value;
    var eMonth = document.getElementById("endMonth").value;
    var sYear = document.getElementById("startYear").value;
    var sMonth = document.getElementById("startMonth").value;
    var isContinue = document.getElementById("notFinish").checked;

    if(sYear == "year" || sMonth == "month") {
      alert("Please select the correct start date.");
      return false;
    }

    if(!isContinue) {
      if(eYear == "year" || eMonth == "month") {
        alert("Please select the correct end date.");
        return false;
      }

      if(eYear < sYear) {
        alert("End year must be later than start year.");
        return false;
      } else {
        if (eYear == sYear && eMonth < sMonth) {
            alert("End month must be later than start month.");
            return false;
        }
      }
    }
  }
  </script>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>
</html>
