<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <h4 class="page-title">
    View My Tailored CV
    <button onclick="callPrint('printArea')" id="btnprint" class="btn btn-primary btn-right btn-preview">PRINT</button>
  </h4>

  <div id="printArea">
    <div class="jumbotron">

      <!--personal info -->
      <div class="form-group2">
        <h1><%=personalInfo.firstname %> <%=personalInfo.lastname %></h1>
        <h2><%=selectedrole %></h2>
        <%=personalInfo.phone %><br>
        <%=personalInfo.email %><br>
        <%=personalInfo.linkedin %><br><br>
        <h3>Objective</h3><%=personalInfo.objective %><br>
      </div>

      <!--Skills -->
      <div class="form-group2">
        <h3>Skills</h3>

        <% if(skilllist.length !=0) {
          for(var i=0; i < skilllist.length-1; i++) { %>
            <%=skilllist[i].skill %> ,
        <%  } %>
        <% } %>
        <%=skilllist[skilllist.length-1].skill %>
      </div>

      <!--Education -->
      <div class="form-group2">
        <h3>Education</h3>
        <ul>

          <% educationlist.forEach(function(education) { %>
            <li>
              <%=education.coursename %> <%=education.degree %> • <%=education.schoolname %> in <%=education.country %> (
              <% if(education.special.length>0) { %>
                <%=education.special %>,
              <% } %>
              <%=education.startyear %>.<%=education.startmonth %> -
              <% if(typeof education.endyear == "number") { %>
                <%=education.endyear %>.<%=education.endmonth %> )
              <% } else {%>
                present )
              <% } %>
            </li>
          <% }); %>
        </ul>
      </div>

      <!--Certification -->
      <div class="form-group2">
        <h3>Certification</h3>
        <ul>
          <% certificationlist.forEach(function(certification) { %>
            <li><%=certification.certificationname %> (<%=certification.issueyear %>.<%=certification.issuemonth %>)</li>
          <% }); %>
        </ul>
      </div>

    </div>

    <legend>Work Experience</legend>
    <div class="jumbotron">
        <% joblist.forEach(function(job) { %>
          <div class="container3">
            <h3 class="career-title">
              <%=job.rolename %>, <%=job.companyname %> in <%=job.country %> (<%=job.startyear %>.<%=job.startmonth %> -
              <% if(typeof job.endyear == "number") { %>
                <%=job.endyear %>.<%=job.endmonth %>)
              <% } else { %>
                present)
              <% } %>
            </h3>
            <h4 class="career-desc">■ <%=job.description %></h4>
            <p class="career-detail">
              ▪ <%=job.detail1 %><br>
              ▪ Skills: <%=job.skills %><br>
              ▪ Sub Roles:
              <% jobrolelist.forEach(function(jobrole) { %>
                <% if(job.jobid == jobrole.jobid && jobrole.ismain == 0) { %>
                  [<%=jobrole.rolename %>]
                <% } %>
              <% }); %>
            </p>
          </div>
        <% }); %>
    </div>

  </div>

</main>

  <script>
function callPrint(printArea) {
  var printContents = document.getElementById(printArea).innerHTML;
  var originalContents = document.body.innerHTML;

  document.body.innerHTML = printContents;
  window.print();

  document.body.innerHTML = originalContents;
}
  </script>
</body>
</html>
