<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div>
    <div class="jumbotron">
      <h2>View My Career</h2>
      <form method="POST" onsubmit="callSubmit()">
        <div class="container3">
          <input type="text" id="formname" name="formname" value="searchForm" hidden>
          <input type="text" id="userid" name="userid" value="sunny" hidden>
          <input type="text" id="rolefromserver" name="rolefromserver" value="<%=selectedrole %>" hidden>
          <div class="form-group">
            <label for="role">Role Title</label>
            <select name="role" id="role" onChange="checkRole()" class="select-role">
              <option value="0">-- All --</option>
              <% rolelist.forEach(function(role) { %>
                <% if(role.roleid == Number(selectedrole)) { %>
                  <option value="<%=role.roleid %>" selected><%=role.rolename %></option>
                <% } else { %>
                  <option value="<%=role.roleid %>"><%=role.rolename %></option>
                <% } %>
              <% }); %>
            </select>
            <button name="submit" value="search" onclick="callSearch()" id="btnsearch">Search</button>
            <button name="submit" value="preview" onclick="callPreview()" id="btnpreview">Preview CV</button>
          </div>
        </div>
      </form>
    </div>

    <legend>Work Experience</legend>
    <div class="jumbotron">
      <% joblist.forEach(function(job) { %>
        <form method="POST" onsubmit="callSubmit()">
          <input type="text" id="formname" name="formname" value="careerForm" hidden>
          <div class="form-group2">
            <input type="text" id="jobid" name="jobid" value="<%=job.jobid %>" hidden>
            <h3><%=job.rolename %>, <%=job.companyname %> in <%=job.country %> (<%=job.startyear %>.<%=job.startmonth %>)</h3><br>
            <h4>■ <%=job.description %></h4><br>
            ▪ <%=job.detail1 %><br>
            ▪ Skills: <%=job.skills %><br>
            ▪ Sub Roles:
            <% jobrolelist.forEach(function(jobrole) { %>
              <% if(job.jobid == jobrole.jobid && jobrole.ismain == 0) { %>
                [<%=jobrole.rolename %>]
              <% } %>
            <% }); %>
            <p></p>
            <div class="button-group">
              <button name="submit" value="editWork" class="btn btn-primary" onclick="callEdit()" id="btnedit">Edit</button>
              <button name="submit" value="deleteWork" class="btn btn-primary" onclick="return callDelete()" id="btndelete">Delete</button>
            </div>
          </div>
        </form>
      <% }); %>
    </div>

    <legend>Education</legend>
    <div class="jumbotron">
      <% educationlist.forEach(function(education) { %>
        <form method="POST" onsubmit="callSubmit()">
          <input type="text" id="formname" name="formname" value="educationForm" hidden>
          <div class="form-group2">
            <input type="text" id="educationid" name="educationid" value="<%=education.educationid %>" hidden>
            <h3><%=education.coursename %> <%=education.degree %> (<%=education.startyear %>.<%=education.startmonth %>)</h3><br>
            <h4><%=education.schoolname %> in <%=education.country %> </h4><br>
            ▪ Grade : <%=education.grade %><br>
            ▪ Special Things : <%=education.special %><br>
            <p></p>
            <div class="button-group">
              <button name="submit" value="editEducation" class="btn btn-primary" onclick="callEdit()" id="btnedit">Edit</button>
              <button name="submit" value="deleteEducation" class="btn btn-primary" onclick="return callDelete()" id="btndelete">Delete</button>
            </div>
          </div>
        </form>
      <% }); %>
    </div>

    <legend>Certification</legend>
    <div class="jumbotron">
      <% certificationlist.forEach(function(certification) { %>
        <form method="POST" onsubmit="callSubmit()">
          <input type="text" id="formname" name="formname" value="certificationForm" hidden>
          <div class="form-group2">
            <input type="text" id="certificationid" name="certificationid" value="<%=certification.certificationid %>" hidden>
            <h3><%=certification.certificationname %> (<%=certification.issueyear %>.<%=certification.issuemonth %>)</h3><br>
            ▪ Issued Organization : <%=certification.organization %><br>
            ▪ Description : <%=certification.description %><br>
            <p></p>
            <div class="button-group">
              <button name="submit" value="editCertification" class="btn btn-primary" onclick="callEdit()" id="btnedit">Edit</button>
              <button name="submit" value="deleteCertification" class="btn btn-primary" onclick="return callDelete()" id="btndelete">Delete</button>
            </div>
          </div>
        </form>
      <% }); %>
    </div>

  </div>
</main>

  <script>
  function checkRole() {
    var selectRole = document.getElementById("role").value;

    <% joblist.forEach(function(job) { %>
      document.getElementById("<%=job.jobid %>").checked = false;
    <% }); %>

    <% jobrolelist.forEach(function(jobrole) { %>
      if(selectRole == "<%=jobrole.roleid %>") {
        document.getElementById("<%=jobrole.jobid %>").checked = true;
      }
    <% }); %>
  }

  function callDelete() {
    return confirm("Are you sure to delete?");
    //return false;
  }

  function validateForm() {
    var eYear = document.getElementById("endYear").value;
    var eMonth = document.getElementById("endMonth").value;
    var sYear = document.getElementById("startYear").value;
    var sMonth = document.getElementById("startMonth").value;
    var isContinue = document.getElementById("notFinish").checked;

    if(sYear == "year" || sMonth == "month") {
      alert("Please select the correct start date.");
      return false;
    }

    if(!isContinue) {
      if(eYear == "year" || eMonth == "month") {
        alert("Please select the correct end date.");
        return false;
      }

      if(eYear < sYear) {
        alert("End year must be later than start year.");
        return false;
      } else {
        if (eYear == sYear && eMonth < sMonth) {
            alert("End month must be later than start month.");
            return false;
        }
      }
    }
  }
  </script>
</body>
</html>
